<script>
    export let edition;
</script>

<div class="container">
    <table class="parcours">
        <tr>
           <th></th>
           <th>Aventure</th>
           <th>Expert</th> 
        </tr>
        <tr>
            <tr>VTT</tr>
            <tr>{edition.epreuves.</tr>
        </tr>
    </table>
</div>