<script>
    import Navbar from '$lib/header/Navbar.svelte';
    import Footer from '$lib/footer/Footer.svelte';
    import '../app.css';
</script>


<div class="container">
    <Navbar/>
    <main>
        <slot/>
    </main>
    <Footer/>
</div>

<style>

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }
    
    main {
        flex-grow: 1;
        position: relative;
    }
    
</style>