<script>
import data from '$lib/data/editions_precedentes.json';
// import TableauEpreuves from '$lib/editionsPrecedentes/TableauEpreuves.svelte';
//     console.log(data[0].parcours[0].intitule);
</script>

<svelte:head>
	<title>Galerie</title>
</svelte:head>

<div class="container">
    <div class="content">
        <h1>Editions précédentes</h1>
        <h2>Vidéos</h2>
        <div class="videos">
            <h3>Teaser Raid Junia 2024</h3>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/AYvYbTiYmk4?si=2RBJLxmKwi4Jozxi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3>Edition 2022</h3>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/fvP0KMgIaZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3>Edition 2019</h3>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/tjf9_4qtQnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3>Edition 2018</h3>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/FpM0LsCUALU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h3>Edition 2017</h3>
            <div class="video-container">
                <iframe src="https://www.youtube-nocookie.com/embed/jKqhNOXj3yg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<style>
    @media(min-width: 750px){
        .videos {
            margin: 0 auto;
            max-width: 780px;
        }
    }

    .container {
        background-color: var(--alt-secondary-color);
    }

    .video-container { 
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 56.25%; /*16:9 Aspect Ratio*/
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    h1 {
        color: var(--light-text);
    }

    h2 {
        margin-top: 1em;
    }

    h3 {
        color: var(--alt-secondary-accent-color);
        margin: 4em 0 2em 0;
    }

    h3:first-child {
        margin-top: 2em;
    }
</style>