<script>
	import { onMount } from 'svelte';
	import sponsors from '$lib/data/sponsors.json';
	import SponsorsList from "$lib/sponsors/SponsorsList.svelte";

    const images = [];

    sponsors.forEach(element => {
        images.push({
            path: "partenaires/" + element.logo,
            id: element.name,
			link: element.link
        })
    });

	const photos = [1, 2, 3, 4, 5, 6];

	let y;
	let clientWidth;
	let Carousel; // for saving Carousel component class
	let carousel; // for calling methods of the carousel instance
	onMount(async () => {
		const module = await import('svelte-carousel');
		Carousel = module.default;
	});
</script>

<svelte:head>
	<title>Accueil</title>
</svelte:head>

<svelte:window bind:innerWidth={clientWidth} bind:scrollY={y}/>

<div class="landing-img">
	<img src="logo-short.png" alt="Logo" style="transform: translate(0,{+y/1.3}px)">
	<p style="transform: translate(0,{+y/1.3}px)">24 mars 2024</p>
</div>
<div class="inscription">
	<a href="/informations">Voir les épreuves</a>
	<a href="https://inscriptions-teve.fr/raid-junia-2023" target=_blank>S'inscrire</a>
</div>
<div class="presentation">
	<div class="img-container">
		<img src="julien.jpg" alt="Julien">
	</div>
	<div class="text-container">
		<div class="content">
			<h1>Le raid</h1>
			<h2>L'association</h2>
			<p>
				Le Raid Junia est issu du Raid HEI, l'une des plus grandes associations sportives
				d'HEI qui perdure ses valeurs depuis maintenant 30 ans.
			</p>
			<p>
				La persévérance et l'esprit d'équipe sont les piliers de cette association.
				Si vous êtes à la recherche de sensations fortes où le dépassement de soi et
				la cohésion d'équipe sont les maîtres-mots alors le Raid Junia est fait pour vous !
			</p>
			<p>
				En plus de ses épreuves de Trail des sables ou de forêt, de VTT, de Run&Bike
				et de course d'orientation, le Raid Junia vous propose des courses de canoë kayak,
				et la traditionnelle épreuve mystère.
			</p>
		</div>
	</div>
</div>
<div class="editions-precedentes">
	<div class="content">
		<h1>Editions précédentes</h1>
		{#if clientWidth>750}
			<svelte:component
				this={Carousel}
				bind:this={carousel}
				particlesToShow={4}
				autoplay
				autoplayDuration={3000}
				pauseOnFocus
				arrows={false}
				duration={300}
			>
				{#each photos as photo}
					<a href="/galerie">
						<img src={"galerie/"+photo+".jpg"} alt={"Photo " + photo}> 
					</a>
				{/each}
			</svelte:component>
		{:else}
			<svelte:component
				this={Carousel}
				bind:this={carousel}
				particlesToShow={1}
				autoplay
				autoplayDuration={3000}
				pauseOnFocus
				arrows={false}
				duration={300}
			>
				{#each photos as photo}
					<a href="/galerie">
						<img src={"galerie/"+photo+".jpg"} alt={"Photo " + photo}> 
					</a>
				{/each}
			</svelte:component>
		{/if}
	</div>
</div>
	<!-- composant SSR à trouver pour meilleures perfs -->
<div class="sponsors-div content">
	<h1>Nos partenaires</h1>
	
	<div class="carousel-container">
		{#if clientWidth>750}
		<svelte:component
			this={Carousel}
			bind:this={carousel}
			particlesToShow={3}
			autoplay
			autoplayDuration={3000}
			pauseOnFocus
			arrows={false}
			duration={300}
		>	
			{#each images as image}
				<a href={image.link} target=_blank>
					<img src={image.path} alt={images.id}> 
				</a>
			{/each}
		</svelte:component>
	{:else}
		<svelte:component
			this={Carousel}
			bind:this={carousel}
			particlesToShow={1}
			autoplay
			autoplayDuration={3000}
			pauseOnFocus
			arrows={false}
		>	
			{#each images as image}
				<a href={image.link} target=_blank>
					<img src={image.path} alt={images.id}> 
				</a>
			{/each}
		</svelte:component>
	{/if} 
	</div>
</div>

<style>
	
	.landing-img {
		position: relative;
		padding-top: 3em;
		height: 80vh;
		background-image: url(/test.jpg);
		background-position: center;
 		background-repeat: no-repeat;
    	background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow: hidden;
	}

	.landing-img img {
		max-width: 350px;
		width: 35%;
	}

	.landing-img p {
		margin: 0.3em 0;
		font-size: 3em;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--alt-primary-color);
		letter-spacing: 4px;
		font-family: Spline-sans, sans-serif;
		text-align: center;
	}

	.inscription {
		display: flex;
		justify-content: center;
		background-color: var(--alt-secondary-color);
	}

	.inscription a {
		color: var(--alt-secondary-accent-color);
		border: 2px solid var(--alt-secondary-accent-color);
		padding: 1em;
		margin: 3em 3em;
		font-size: 1.6em;
		flex-basis: 100%;
		text-align: center;
		align-self: center;
		transition: box-shadow 0.2s ease-in-out;
	}

	.inscription a:hover {
		box-shadow: 0 0 0 2px var(--alt-secondary-accent-color);
	}

	.presentation{
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}

	.presentation .img-container{
		width: 35%;
		max-height: 70vh;
	}

	.presentation .text-container{
		width: 65%;
		display: flex;
		align-items: center;
	}

	.presentation img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.editions-precedentes {
		background-color: var(--alt-secondary-color);
	}

	.editions-precedentes .content{
		max-width: 80%;
	}

	.editions-precedentes img {
		object-fit: contain;
		max-width:100%;
		max-height:100%;
	}

	.editions-precedentes h1 {
		color: var(--alt-primary-color);
	}

	.editions-precedentes a,
	.sponsors-div a {
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.sponsors-div img{
		width: 100%;
		object-fit: contain;
		text-align: center;
  	}

	.carousel-container {
		width: 60%;
		margin: 0 auto;
	}

	.editions-precedentes > .content,
	.sponsors-div {
		margin: 0 10%;
	}

	@media(max-width:750px) {
		.landing-img p {
			font-size: 2em;
		}

		.inscription a {
			margin: 2em 1em;
			font-size: 0.8em;
		}

		.presentation .img-container{
			width: 100%;
		}

		.presentation .text-container{
			width: 100%;
		}

		.carousel-container {
			width: 100%;
		}

		.carousel-container img {
			max-height: 20vh;
		}
	}
</style>