<svelte:head>
	<title>Informations</title>
</svelte:head>

<div class="container">
    <div class="slideshow">
        <div class="slideshow-item">
			<img src="epreuves/3.jpg" alt="épreuve surprise">
            <div class="slideshow-item-text">
                <h2>5 Epreuves</h2>
                <p>VTT / Run and Bike, Trail, Course d'orientation, Canoë et une épreuve surprise</p>
            </div>
        </div>
    </div>

    <div class="content">
    <h1> Informations </h1>
        <div>
            <h2>Description de l'évènement</h2>
            <p>
                Par équipe de 2, vous allez devoir relever des épreuves sportives le temps d'une journée en faisant preuve d'une bonne cohésion d'équipe.
                L'objectif est de se dépasser afin d'être la première équipe à terminer mais aussi de s'amuser.
            </p>
        </div>
    </div>
</div>
<style> 

    .text-container {
        display: flex;
    }


    .text-container > div {
        padding : 0 1em;
    }

    .text-container > div p:last-child {
        padding-top: 0;
    }

    .slideshow{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background: black;
    }

    .slideshow-item{
        width: inherit;
        height: inherit;
        position: absolute;
    }

    .slideshow-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        /* animation: zoom 35s infinite;
        animation: auto-slideshow 35s infinite; */
        opacity: 1;
    }

    .slideshow-item:nth-child(1) .slideshow-item-text,
    .slideshow-item:nth-child(1) img{
        animation-delay: 0s;
    }

    .slideshow-item:nth-child(2) .slideshow-item-text,
    .slideshow-item:nth-child(2) img{
        animation-delay: 7s;
    }

    .slideshow-item:nth-child(3) .slideshow-item-text,
    .slideshow-item:nth-child(3) img{
        animation-delay: 14s;
    }

    .slideshow-item:nth-child(4) .slideshow-item-text,
    .slideshow-item:nth-child(4) img{
        animation-delay: 21s;
    }

    .slideshow-item:nth-child(5) .slideshow-item-text,
    .slideshow-item:nth-child(5) img{
        animation-delay: 28s;
    }

    .slideshow-item-text {
        color: var(--alt-primary-color);
        max-width: 33%;
        position: absolute;
        top: 65%;
        left: 0;
        transform: translateY(-50%);
        background-color: var(--alt-secondary-color);
        opacity: 1;
        padding: 3rem 2rem;
        box-shadow: 0 0 10px -3px rgba(0, 0, 0, .25);
    }

    .slideshow-item-text h2 {
        font-size: 2rem;
        color: var(--alt-secondary-accent-color);
        margin-bottom: 1.5rem;
    }

    .slideshow-item-text p {
        font-size: 1.2em;
    }

    .icon {
        position: relative;
    }

    .slideshow .icon::before {
    color: var(--alt-tertiary-color);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
  }

  .left-arrow::before {
      content: "\f060";
  }

  .right-arrow::before {
      content: "\f061";
  }

    @keyframes auto-slideshow {
        25%{
            opacity: 1;
        }
        40%{
            opacity: 0;
        }
    }

    @keyframes text-auto-slideshow {
        25% {opacity: 0.9;}
        30% {opacity: 0;}
    }

    @keyframes zoom {
        100%{
            transform: scale(1.3);
        }
    }

    @media (max-width: 750px){
        .slideshow-item-text{
            max-width: 100%;
            padding: 1rem 2rem;
            top: initial;
            bottom: 0;
            transform: initial;
        }

        .text-container {
		    flex-direction: column;
        }

        .text-container div:first-child {
            padding-bottom: 1em;
        }

        /* h1 {
            font-size: 2em;
            padding-bottom: 0.5em;
        }

        .content{
            padding: 1em;
        } */
    }
</style>
