<script>
    import SponsorsList from "$lib/sponsors/SponsorsList.svelte";
</script>

<svelte:head>
	<title>Partenaires</title>
</svelte:head>

<div class="content">
    <h1>Nos partenaires</h1>
	
    <SponsorsList/>
	   

</div>

<style>

</style>