<script>
    import Slideshow from "$lib/infos/large-slideshow/Slideshow.svelte";
    import Item from "$lib/infos/large-slideshow/Item.svelte";
    import { setContext } from 'svelte';
</script>

<div class="container">
    <Slideshow>
        <div slot="slides" class="slides">
            <Item
                imgPath="epreuves/1.jpg"
                imgDescription="VTT"
            >
                <h2>Epreuve 1 : <span>VTT / Run & Bike</span></h2>
                <p>Distance totale sur le week-end :</p>
                <p>Aventure : 78 km</p>
                <p>Expert : 90 km</p>
            </Item>
            <Item
                imgPath="epreuves/2.jpg"
                imgDescription="canoë"
            >
                <h2>Epreuve 2 : <span>canoë</span></h2>
                <p>Distance totale sur le week-end :</p>
                <p>Aventure : 4 km</p>
                <p>Expert : 4 km</p>
            </Item>
        </div>
    </Slideshow>
    <div class="content">
        <h1>A chacun son parcours</h1>
        <div class="text-container">
            <div>
                <h2>Parcours expert</h2>
                <p>
                    Vous avez envie de vous dépasser, de faire durer le plaisir des épreuves ? Ce parcours est fait pour vous !
                </p>
                <p>
                    <span>Distance totale : 125 à 150km</span>
                </p>
            </div>
            <div>
                <h2>Parcours aventure</h2>
                <p>
                    Vous souhaitez découvrir la région, faire du sport entre amis tout en surmontant de nouveaux défis ? Nous avons aussi ce qu'il vous faut !
                </p>
                <p>
                    <span>Distance totale : 100 à 125km</span>
                </p>
            </div>
        </div>
    </div>
</div>


<style>
    .slides h2 {
        font-size: 2rem;
        color: var(--alt-secondary-accent-color);
        margin-bottom: 1.5rem;
    }

    .slides p {
        font-size: 1.2em;
    }

    .text-container {
        display: flex;
    }

    .text-container > div {
        padding : 0 1em;
    }

    .text-container > div p:last-child {
        padding-top: 0;
    }

    @media (max-width: 750px){
        .text-container {
		    flex-direction: column;
        }

        .text-container div:first-child {
            padding-bottom: 1em;
        }
    }
</style>

