<script>
    export let imgPath;
    export let imgDescription;

    import { getContext } from 'svelte';
    const slide = {};
    const {registerSlide, selectedSlide} = getContext(slides);

    registerSlide(slide);
</script>

<div class="slideshow-item" class:selected="{$selectedSlide === slide}">
    <img src={imgPath} alt={imgDescription}>
    <div class="slideshow-item-text">
    <!-- slot pour le contenu html -->
        <slot></slot>
    </div>
</div>

<style>
    .slideshow-item{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .slideshow-item img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        /* opacity: 1; */
    }

    .slideshow-item-text {
        color: var(--alt-primary-color);
        max-width: 33%;
        position: absolute;
        top: 65%;
        left: 0;
        transform: translateY(-50%);
        background-color: var(--alt-secondary-color);
        /* opacity: 1; */
        padding: 3rem 2rem;
        box-shadow: 0 0 10px -3px rgba(0, 0, 0, .25);
    }

    @media (max-width: 750px){
        .slideshow-item-text{
            width: 100%;
            max-width: 100%;
            padding: 1rem 2rem;
            top: initial;
            bottom: 0;
            transform: initial;
        }
    }
</style>