<script>
    import { setContext } from 'svelte';
    import { writable } from "svelte/store";

    const slides=[];
    const selectedSlide = writable(null);

    setContext(slides, {
        registerSlide: slide => {
            slides.push(slide);
            selectedSlide.update(current => current || slide);
        },

        selectedSlide
    });

    const selectSlide = slide => {
            selectedSlide.set(slide);
        }
</script>

<div class="slideshow">
    <slot name="slides"></slot>
    <div class="slideshow-controls">
        <span class="icon left-arrow"></span>
        <span class="icon right-arrow" on:click="{() => selectedSlide.update(slides[slides.indexOf(selectedSlide)+1])}"></span>
    </div>
</div>

<style>
    .slideshow{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        background: black;
    }

    .icon {
        position: relative;
    }

    .slideshow .icon::before {
    color: var(--alt-tertiary-color);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5em;
  }

  .left-arrow::before {
      content: "\f060";
  }

  .right-arrow::before {
      content: "\f061";
  }
</style>