<script>

</script>

<!-- include icons -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
 integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
 crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
    <div class="container">
        <div class="adresse">
            <div class="logo-holder">
                <img src="logo.png" alt="Original logo" class="logo">
            </div>
            <p>
                13 rue de Toul
                <br>59046 Lille CEDEX
                <br>France
            </p>
        </div>
        <div class="social-medias">
            <a href="https://www.facebook.com/raid.hei" target=”_blank” class="icon facebook">Facebook</a>
            <a href="https://www.instagram.com/raid_junia/" target="_blank" class="icon instagram">Instagram</a>
            <a href="https://www.strava.com/clubs/1009900" target="_blank" class="icon strava">Strava</a>
        </div>
        <div class="contact">
            <p>
                raid.junia@asso.junia.com
            </p>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2022 - Raid Junia | <a href="/">Mentions légales</a></p>
    </div>
</footer>

<style>
    footer {
        padding-top: 1em;
        background-color: var(--alt-secondary-color);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        color: var(--light-text);
    }

    .container {
        /* display: grid;
        grid-template-columns: repeat(3,1fr); */
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    footer a {
        margin: auto 1em;
        text-align: center;
        color: var(--light-text);
    }

    .adresse {
        display: flex;
        font-size: 0.8em;
    }

    .logo-holder {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-right: 0.8em;
    }

    .logo {
        height: 5em;
        width: 5em;
    }

    .social-medias {
        display: flex;
    }

    .social-medias a {
        color: var(--light-text);
    }

    .icon {
        position: relative;
    }

    .icon::before {
    padding-right: 5px;
    color: var(--alt-tertiary-color);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Brands";
    font-size: 1.5em;
  }

  .facebook::before {
      content: "\f082";
  }

  .instagram::before {
    content: "\f16d";
  }

  .strava::before {
    content: "\f428";
  }

  .contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1em;
  }

  .contact span {
      font-size: 0.8em;
  }

  .bottom {
    display:flex;
    justify-content: center;
  }

  .bottom p {
      font-size: 0.6em;
      margin: 1em;
  }

  .bottom a {
      margin: 0;
  }

  @media (max-width: 749px) {
    .container {
        flex-direction: column;
    }

    .adresse{
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .social-medias{
        display: flex;
        justify-content: center;
    }
  }
</style>