<script>
    export let imgLink;
    export let name;
    export let siteUrl;
    export let description;
</script>

<div class="card">
    <div class="img-container">
            <img src="partenaires/{imgLink}" alt="Logo {name}" target="_blank">
    </div>
    <div class="text-container">
        <h2>{name}</h2>
        {#if description}
            <p>{description}</p>
        {/if}
        {#if siteUrl}
            <a href={siteUrl}>Visiter le site de {name}</a>
        {/if}    
    </div>
</div>

<style>
    .card {
        display: flex;
        margin-bottom: 2em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        margin-right: 1em;
        width: 30%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .text-container {
        width: 70%;
        padding : 0 1em;
        max-width: 80ch;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card h2 {
        padding-bottom: 1rem;
    }

    .card p {
        padding : 0 0 1em
    }

    .card a {
        font-weight: bold;
        color: var(--dark-text);
        position: relative;
        width: fit-content;
    }

    .card a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background-color: var(--alt-secondary-accent-color);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .card a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }

    @media (max-width: 749px) {
        .card {
            flex-direction: column;
            align-items: center;
        }

        .img-container {
            margin: 0 0 1em 0;
            width: 50%;
        }

        .text-container {
            width: 100%;
        }
    }
</style>