<script>
    import sponsors from '$lib/data/sponsors.json';
    import SponsorCard from './SponsorCard.svelte';
</script>

<div class="container">
    {#each sponsors as sponsor}
        <SponsorCard
            imgLink = {sponsor.logo}
            name = {sponsor.name}
            description = {sponsor.description}
            siteUrl = {sponsor.link}
        />
    {/each}
</div>

<style>
    .container {
        padding : 1em 0;
    }
</style>
