@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--pure-white: #ffffff;
	/* --alt-primary-color: #FDFFFC;
	--alt-secondary-color: #011627;
	--alt-tertiary-color: #2EC4B6;
	--alt-ternary-color: #1D70A2;
	--alt-accent-color: #6184D8 ;
	--alt-secondary-accent-color: #FF9F1C;
	--light-text: #dfdfdf;
	--dark-text: #000000; */

	--alt-primary-color: #FDFFFC;
	--alt-secondary-color: #011627;
	--alt-tertiary-color: #007fff;
	--alt-accent-color: #2b59c7 ;
	--alt-secondary-accent-color: #27FB6B;
	--light-text: #dfdfdf;
	--dark-text: #000000;


}

*,
*::before, 
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--alt-primary-color);
	font-family: 'Epilogue';
}

h1,
h2 {
	font-family: Spline Sans, sans-serif;
	margin: 0;
}

h1{
	color: var(--alt-secondary-color);
	font-size: 3em;
	padding-bottom: 0.2em;
}

h2 {
	color: var(--alt-tertiary-color)
}

a {
	text-decoration: none;
}

.content {
	margin: 0 auto;
	padding: 2em;
	max-width: 1200px;
}

.content p {
	margin: 0;
	padding: 1em 0;
	line-height: 1.5em;
}

.content p span{
	position: relative;
	font-weight: bold;
}

.content p span::after {
	content:'';
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: var(--alt-secondary-accent-color);
}

@media (max-width: 750px){
	.content{
		padding: 1em;
	}

	.content h1 {
		font-size: 2em;
		padding-bottom: 0.5em;
	}

	.content p,
	.content a {
		font-size: 0.8em
	}

}